<div class="container">
    <div class="card mt-5 bg-sand px-sm-5 card" style="top: 5rem;">
        <div class="card-body card-bg rounded">
            <div class="row  flex-column align-items-center">
                <div class="row align-items-center display-4 mb-3">
                    <div class="pr-1 text-light">
                        qui
                    </div>
                    <div class="">
                        <img src="../../assets/images/quiz icon light.png" class="logo rounded-circle" alt="Logo">
                    </div>
                    <div class="pl-1 text-light">one</div>
                </div>
                <div class="display-4 text-light">
                    Create Quiz Or join One!!
                </div>
                <div>
                    <div class="row flex-column flex-sm-row align-items-center justify-content-around" style="height: 7rem;width: 10rem;">
                        <div class="">
                            <button pButton [routerLink]="['/pre-creation']" routerLinkActive="active" label="Create" class="p-button-raised">
                            </button> 
                        </div> 
                        <div class="">
                            <button pButton class="p-button-raised p-button-secondary" [routerLink]="['/lobby']" label="Join"></button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
