.logo{
    height: 3.5rem;
}
.card-bg{
    background-image: linear-gradient(to right bottom,rgba(61, 59, 59, 0.74),rgba(112, 104, 104, 0.692)),url(../../assets/images/card-bg.jpeg);
    background-repeat: round;
    overflow: hidden;   
}
.card{
    border: none;
}
