<div class="container">
    <div class="mx-md-5 mt-5">
        <div class="mx-md-5 mt-5">
            <div class="card mx-md-5 px-md-5 login-bg mt-5">
                <div class="card-body px-md-5">
                    <h5 class="card-title text-light">
                        Password Recovery
                    </h5>
                    <form [formGroup]="passwordForm" class="px-md-5" (ngSubmit)="onSubmit()" nonvalidate>
                        <div class="form-group">
                            <input type="password" formControlName="password" placeholder="Password" name="password" [class.is-invalid]="password.invalid && password.touched" class="form-control">
                            <div class="" *ngIf="password.invalid && password.touched">
                                <small class="text-danger" *ngIf="password.errors?.required" >password is required</small>
                                <small class="text-danger" *ngIf="password.errors?.minlength" >Atleast a minimum of 7 charecters is required</small>
                                <small class="text-danger" *ngIf="password.errors?.maxlength" >Maximum of 16 charecters is allowed</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" formControlName="confirm_password" placeholder="Confirm password" name="confirm_password" [class.is-invalid]="passwordForm.errors?.misMatch" [class.is-invalid]="confirm_password.invalid && confirm_password.touched" class="form-control">
                            <div class="" *ngIf="confirm_password.touched">
                                <small class="text-danger" *ngIf="confirm_password.errors?.required">Password confirmation is required</small>
                                <small class="text-danger" *ngIf="passwordForm.errors?.misMatch">Passwords do not match</small>
                            </div>
                        </div>

                        <div class="container">
                            <!-- <button type="submit" class="float-right" [disabled]="passwordForm.invalid" [ngClass]="{disabled: passwordForm.invalid}" mat-raised-button color="accent">
                                Update
                            </button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loader *ngIf="showLoader"></app-loader>