.question-bg{
    background-image: linear-gradient(to right top,#12343bc5 ,#2d545e93),url(../../assets/images/play-bg.jpg);
    background-size: cover;
    background-position: bottom;
}
.answer-text{
    margin-left: 2rem;
    cursor: pointer;
}