.register-bg{
    background-image: linear-gradient(to right top,#12343bc5 ,#2d545e93),url(../../assets/images/register-bg.jpg);
    background-size: cover;
    background-position: bottom;
}
.p-password-meter{
    width: 100%;
}

.profile{
    &_image{
        width: 120px;
        height: 120px;
        object-fit: cover;
        text-align: center;
    }
}